:root{
    --main-red-color: #c42323;
    --main-blue-color: #0066c9;
    --main-green-color: #2757da;
    --green-shadow-color: #09006eee;
    --blue-shadow-color: #2e5ce566;
    --red-shadow-color: #e52e2e66;
}

@font-face {
    font-family: 'montserrat-light'; /*a name to be used later*/
    src: url('./static/fonts/Montserrat-Light.ttf'); /*URL to font*/
}

* {
    font-family: 'montserrat-light';
}


body {
    background-color: #e0e0e0; 
  }
  